<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/harbinger-l10-website/pt-br/production/pt-br/static/logo-800-47024e2aeaaa8651c172ba883264dd43.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc0be728e4cbb8f2a/5db05fbc89fb926b491ed80b/RiotX_ChampionList_draven.jpg?quality=90&width=250">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Draven</h1>
        </div>
      </ion-label >
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vayne_0.jpg">
      </ion-thumbnail>
      <ion-label> Vayne  </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


